@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #181818;
}

::selection {
  background: #181818; 
  color: #ffffff;      
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  overflow-x: hidden;
}
.viboscope{
  position: absolute;
  top: 50px;
  left: 90px;
  font-size: 23px;
  font-weight: 700;
  font-family: 'Arial';
  cursor: pointer;
}
.my-container {
  position: absolute;
  top: 45%;
  left: 90px;
  transform: translateY(-50%);
  font-size: 40px;
  font-weight: bold;
  font-family: 'Arial';
}

.my-container1 {
  position: absolute;
  top: 53%;
  left: 90px;
  transform: translateY(-40%);
  font-size: 40px;
  font-weight: bold;
  font-family: 'Arial';
}
.arrow-container{
  position: absolute;
  right: 80px;
  bottom: 50px;
  background-color: #171717;
  padding: 15px 15px;
  border-radius: 50%;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .viboscope {
    top: 20px;
    left: 20px;
    font-size: 20px;
  }
  .my-container1{
     top: 51%;

  }
  .my-container, .my-container1 {
    left: 20px;
    font-size: 28px;
  }
  .arrow-container {
    right: 40px;
    bottom: 40px;
    padding: 10px;
  }
  .arrow-image {
    width: 30px;
    height: 30px;
  
}
.arrow-image{
  cursor: pointer;
}
}

.upload-container{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--foreground);
  color: var(--background);
  padding: 110px 80px;
  border-radius: 30px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Arial';
  cursor: pointer;
}

.model-close{
  padding: 10px 40px;
  background-color: var(--foreground);
  color: var(--background);
  border-radius: 30px;
  font-size: 15px;
  cursor: pointer;

}
